{% load i18n %}
{% load url from future %}

<!DOCTYPE HTML>
<html lang="pt-br" xml:lang="pt-br">
    <head>
        <title>{% block title %}{% endblock %}Blog do Leandro Toledo</title>
        <meta name="description" content="{% block description %}{% endblock %}" />
        <meta name="keywords" content="{% block keywords %}{% endblock %}gnu,linux,leandro toledo,tecnologias,redes de computadores,crônicas,artigos,centos,ubuntu,nagios" />
        <meta name="author" content="Leandro Toledo" />
        <meta charset="utf-8" />
        <link rel="license" type="text/html" href="http://creativecommons.org/licenses/by-nc-sa/3.0/" />
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/screen.css" type="text/css" media="screen, projection">
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/print.css" type="text/css" media="print">
        <!--[if lt IE 8]><link rel="stylesheet" href="{{ STATIC_URL }}styles/blueprint/ie.css" type="text/css" media="screen, projection"><![endif]-->
        <link rel="stylesheet" href="{{ STATIC_URL }}styles/default2.css" type="text/css" media="all" />
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-16485022-3']);
            _gaq.push(['_trackPageview']);

            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>
    </head>
    <body>
        <header id="header" class="container">
            <h1>Blog do Leandro Toledo</h1>
            <figure>
                <p>Se eu tiver uma maçã e você também tiver uma maçã, e trocarmos de maçãs, cada um ficará com uma maçã.<br />
                Se eu tiver uma ideia e você também tiver uma ideia, e trocarmos de ideias, cada um ficará com duas ideias.</p>
                <figcaption>
                    <cite>George Bernard Shaw</cite>
                </figcaption>
            </figure>
            <nav id="top-menu">
                <ul>
                    <li><a href="{% url 'index' %}">Home</a></li>
                    <li><a href="{% url 'about' %}">Sobre</a></li>
                    <li><a href="{% url 'contact' %}">Contato</a></li>
                    <li><a href="">Feed (RSS)</a></li>
                </ul>
            </nav>
        </header>

        <div id="main" class="container">
            <div id="articles">
                {% if messages %}
                    <p class="messages">
                        {% autoescape off %}
                        {% for message in messages %}
                            <div{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</div>
                        {% endfor %}
                        {% endautoescape %}
                    </p>
                {% endif %}

                {% block articles %}{% endblock %}

                {% if is_paginated %}
                    <div id="pagination">
                        <span class="step-links">
                            <span class="current">
                                Página {{ page_obj.number }} de {{ page_obj.paginator.num_pages }}
                            </span>

                            {% if page_obj.has_next %}
                                <a class="next" href="?page={{ page_obj.next_page_number }}">← Posts mais antigos</a>
                            {% endif %}

                            {% if page_obj.has_previous %}
                                <a class="previous" href= "?page={{ page_obj.previous_page_number }}">Posts mais recentes →</a>
                            {% endif %}
                        </span>
                    </div>
                {% endif %}
            </div>

            <aside id="menu">
                <nav>
                    <h1>Categorias</h1>
                    {% if categories %}
                        <ul>
                        {% for category in categories %}
                            <li><a href="{{ category.get_absolute_url }}">{{ category }}</a> ({{ category.post__count }})</li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <ul><li>Nada encontrado</li></ul>
                    {% endif %}

                    <h1>Arquivos</h1>
                    {% if archives %}
                        <ul>
                        {% for archive in archives %}
                            <li><a href="{% url 'archive_month' archive|date:'Y' archive|date:'m' %}">{{ archive|date:'m/Y' }}</a></li>
                        {% endfor %}
                        </ul>
                    {% else %}
                        <ul><li>Nada encontrado</li></ul>
                    {% endif %}

                    <h1>Blogs</h1>
                    <ul>
                        <li><a href="">Link</a></li>
                    </ul>

                    {% if user.is_staff %}
                        <h1>Administração</h1>
                        <ul>
                            <li><a href="{% url 'admin:index' %}">Home</a></li>
                            <li><a href="{% url 'admin:blog_post_add' %}">Novo artigo</a></li>
                        </ul>
                    {% endif %}
                </nav>
                <!--<a class="powered-by-django" href=""><img src="{{ STATIC_URL }}images/powered_by_django.gif" alt="Powered by Django" /></a>-->
            </aside>
        </div>

        <footer id="footer" class="container">
            <div itemscope itemtype="http://n.whatwg.org/work">
                <a id="creative-commons-license" rel="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><img alt="Creative Commons License" style="border-width: 0;" src="{{ STATIC_URL }}images/buttons/creativecommons_by-nc-sa.png"></a>
                O <a itemprop="work" href="http://leandrotoledo.blog.br/"><span>Blog do Leandro Toledo</span></a> por <a itemprop="author" href="http://leandrotoledo.blog.br/about/"><span>Leandro Toledo de Souza</span></a> está sob a licença <a itemprop="license" href="http://creativecommons.org/licenses/by-nc-sa/3.0/"><abbr title="Creative Commons Attribution-NonCommercial-ShareAlike 3.0 Unported License"><span>CC-BY-NC-SA</span></abbr></a>.
            </div>
        </footer>

        <aside id="badges">
            <ul>
                <li><a href=""><img src="{{ STATIC_URL }}images/buttons/valid-css3.png" alt="Tecnologia usada válida para CSS3" /></a></li>
                <li><a href=""><img src="{{ STATIC_URL }}images/buttons/valid-html5.png" alt="Tecnologia usada válida para HTML5" /></a></li>
                <li><a href=""><img src="{{ STATIC_URL }}images/buttons/valid-rss20.png" alt="Tecnologia usada válida para RSS 2.0" /></a></li>
                <li><a href=""><img src="{{ STATIC_URL }}images/buttons/valid-ipv6.png" alt="Tecnologia usada válida para IPv6" /></a></li>
                <li><a href=""><img src="{{ STATIC_URL }}images/buttons/valid-dnssec.png" alt="Tecnologia usada válida para DNSSEC" /></a></li>
            </ul>
        </aside>
    </body>
</html>
