{% extends 'base.html' %}

{% load comments %}
{% load url from future %}

{% block description %}O Blog do Leandro Toledo é um conjunto de artigos sobre GNU/Linux, Tecnologias, Redes de Computadores, Crônicas, CentOS, Ubuntu, Nagios e muito mais.{% endblock %}
{% block keywords %}{% endblock %}

{% block title %}{% if description %}{{description}} {{ day|date:'d/m/Y' }}{{ month|date:'m/Y' }}{{ year }}{% else %}Blog do Leandro Toledo{% endif %}{% endblock %}

{% block articles %}
    {% if description %}
        <h3 id="description">{{ description }} {{ day|date:'d/m/Y' }}{{ month|date:'m/Y' }}{{ year }}</h3>
        <hr />
    {% endif %}

    {% for post in object_list %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <header>
                <h1 class="title">
                    <a href="{{ post.get_absolute_url }}"><span itemprop="name">{{ post.title }}</span></a>
                </h1>
                <ul>
                    <li class="published-date">Escrito por <a href="{% url 'user' post.user %}"><span itemprop="author">{{ post.user }}</span></a> em <a href="{% url 'archive_day' year=post.published_date.year month=post.published_date.month day=post.published_date.day %}"><time datetime="{{ post.published_date|date:'Y-m-d' }}"><span itemprop="datePublished">{{ post.published_date|date:'d/m/Y' }}</span></time></a></li>
                    <li class="comments">
                        {% get_comment_count for post as comment_count %}
                        {% if comment_count > 0 %}
                            <a href="{{ post.get_absolute_url }}#comments-section">{{ comment_count }} comentário(s)</a>
                        {% else %}
                            <a href="{{ post.get_absolute_url }}#comments-form">Deixe um comentário</a>
                        {% endif %}
                    </li>
                </ul>
            </header>
            <div class="content">
                {{ post.excerpt|safe }}
                <br />
                <a class="more-link" href="{{ post.get_absolute_url }}">Continue lendo »</a>
            </div>
            <footer>
                <ul>
                    <li class="keywords">
                        Categoria(s):
                        {% for category in post.category.all %}
                            <a href="{{ category.get_absolute_url }}"><span itemprop="keywords">{{ category }}</span></a>
                        {% endfor %}
                    </li>
                </ul>
            </footer>
        </article>
    {% empty %}
        Nada encontrado
    {% endfor %}


{% endblock %}
