{% extends 'base.html' %}
{% load comments %}

{% block title %}{% if description %}{{description}} {{ day|date:'d/m/Y' }}{{ month|date:'m/Y' }}{{ year }} - {% endif %}{% endblock %}

{% block articles %}
    {% if description %}
        <h3 id="description">{{ description }} {{ day|date:'d/m/Y' }}{{ month|date:'m/Y' }}{{ year }}</h3>
        <hr />
    {% endif %}

    {% for post in object_list %}
        <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="title">
                <a href="{{ post.get_absolute_url }}"><span itemprop="name">{{ post.title }}</span></a>
            </h1>
            <p class="published-date">
                Escrito por <a href="{% url about %}"><span itemprop="author">Leandro Toledo</span></a> em <a href="{% url archive_day year=post.published_date.year, month=post.published_date.month, day=post.published_date.day %}"><time datetime="{{ post.published_date|date:'Y-m-d' }}"><span itemprop="datePublished">{{ post.published_date|date:'d/m/Y' }}</span></time></a>
            </p>
            <p class="comments">
                {% get_comment_count for post as comment_count %}
                {% if comment_count > 0 %}
                    <a href="{{ post.get_absolute_url }}#comments-section">{{ comment_count }} comentário(s)</a>
                {% else %}
                    <a href="{{ post.get_absolute_url }}#comments-form">Deixe um comentário</a>
                {% endif %}
            </p>
            <div class="excerpt" itemprop="description">{{ post.excerpt|escape|linebreaks }}</div>
            <h4><a href="{{ post.get_absolute_url }}">Continue lendo »</a></h4>
            <p class="keywords">
                Categoria(s):
                {% for category in post.category.all %}
                    <a href="{{ category.get_absolute_url }}"><span itemprop="keywords">{{ category }}</span></a>
                {% empty %}
                    Nenhuma categoria
                {% endfor %}
            </p>
        </article>
    {% empty %}
        Nada encontrado.
    {% endfor %}

    {% if is_paginated %}
        <div class="pagination">
            <span class="step-links">
                {% if page_obj.has_previous %}
                    <a href= "?page={{ page_obj.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                </span>

                {% if page_obj.has_next %}
                    <a href="?page={{ page_obj.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
