{% extends 'base.html' %}
{% load comments %}

{% block title %}{{ description|add:' - '|default_if_none:'' }}Blog do Leandro Toledo{% endblock %}

{% block articles %}
    {% if description %}
        <h3>{{ description }}</h3>
    {% endif %}

    {% for post in posts.object_list %}
        <article id="post" itemscope itemtype="http://schema.org/BlogPosting">
            <h1 class="title">
                <a href="{{ post.get_absolute_url }}"><span itemprop="name">{{ post.title }}</span></a>
            </h1>
            <p class="published-date">
                Escrito por <a href="{% url about %}"><span itemprop="author">Leandro Toledo</span></a> em <time datetime="{{ post.published_date|date:'Y-m-d' }}"><span itemprop="datePublished">{{ post.published_date|date:'d/m/Y' }}</span></time>
            </p>
            <p class="comments">
                {% get_comment_count for post as comment_count %}
                {% if comment_count > 0 %}
                    <a href="{{ post.get_absolute_url }}#comments-section">{{ comment_count }} comentário(s)</a>
                {% else %}
                    <a href="{{ post.get_absolute_url }}#comments-form">Deixe um comentário</a>
                {% endif %}
            </p>
            <div class="excerpt" itemprop="description">{{ post.excerpt|escape|linebreaks }}</div>
            <h4><a href="{{ post.get_absolute_url }}">Continue lendo »</a></h4>
            <p class="keywords">
                Categoria(s):
                {% for category in categories %}
                    <a href="{{ category.get_absolute_url }}"><span itemprop="keywords">{{ category }}</span></a>
                {% empty %}
                    Nenhuma categoria
                {% endfor %}
            </p>
        </article>
        <br /><br />
    {% empty %}
        Nada encontrado.
    {% endfor %}

    {% if posts.object_list and posts.paginator.num_pages > 1 %}
        <div class="pagination">
            <span class="step-links">
                {% if posts.has_previous %}
                    <a href= "?page={{ posts.previous_page_number }}">newer entries &lt;&lt; </a>
                {% endif %}

                <span class="current">
                    Page {{ posts.number }} of {{ posts.paginator.num_pages }}
                </span>

                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}"> &gt;&gt; older entries</a>
                {% endif %}
            </span>
        </div>
    {% endif %}
{% endblock %}
