body, * {
    font-family: Verdana, Arial, sans-serif;
}

body {
    color: #333333;
    background: #E6E6E6;
    margin-top: 10px;
}

h1 {
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    margin: 15px 0;
}
h1 a {
    color: #000000;
    text-decoration: none;
}
.info, .error, .warning {
    -moz-border-radius: 5px;
    margin-left: 20px;
    border-radius: 5px;
}
.quote {
    -moz-border-radius: 5px;
    background: #EEEEEE url('/static/images/icon-quote.gif') no-repeat left top;
    border-radius: 5px;
    color: #888888;
    font-size: 14px;
    font-style: italic;
    padding: 8px 8px 8px 28px;
    margin: 24px 0 10px 0;
    text-align: justify;
}

.container {
    -moz-border-radius: 15px;
    background-color: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    margin: 0 auto;
    padding: 10px;
    width: 940px;
}

/* Header section */
#header {
    -moz-border-radius-bottomleft: 0;
    -moz-border-radius-bottomright: 0;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 0;
}
#header h1:first-child {
    font-size: 28px;
    font-weight: bold;
}
#header figure {
    background: url('/static/images/gnu_left.png') no-repeat 728px -90px;
    border-top: 4px solid black;
    height: 140px;
    padding-top: 10px;
    padding-right: 150px;
    text-align: right;
}
#header figure p {
    font-family: Arial;
    font-size: 14px;
    font-style: italic;
    margin: 0;
    padding-top: 70px;
}
#header figcaption cite {
    font-size: 14px;
    font-weight: bold;
}
#header #top-menu {
    background: #000000;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
}
#header #top-menu ul li {
    float: left;
    list-style-type: none;
    margin: 0 10px;
}
#header #top-menu ul li a {
    color: #FFFFFF;
    font-size: 14px;
    text-decoration: none;
}

/* Content section */
#main {
    -moz-border-radius: 0;
    border-radius: 0;
}

/* * Content section
 * Articles
 * */
#main #articles {
    float: left;
    width: 700px;
}
#main #articles .post {
    border-bottom: 1px solid #EEEEEE;
    margin: 0 0 5px 20px;
    padding: 0 0 20px 0;
}
#main #articles .post ul {
    margin: 0;
    padding: 0;
}
#main #articles .post ul li {
    color: #888888;
    list-style-type: none;
    padding-left: 20px;
}
#main #articles .post ul li a {
    color: #888888;
}
#main #articles .post ul li a:hover {
    color: #0066CC;
}
#main #articles .post .published-date {
    background: url('/static/images/icons.gif') no-repeat left -40px;
    float: left;
}
#main #articles .post .comments {
    background: url('/static/images/icons.gif') no-repeat left -100px;
    float: right;
}
#main #articles .post .keywords {
    background: url('/static/images/icons.gif') no-repeat -20px -240px;
}
#main #articles .post .content {
    clear: both;
    font-size: 14px;
    padding-top: 12px;
    text-align: justify;
}
#main #articles .post .content p {
    margin: 0;
    padding: 0;
}
#main #articles .post .content p:first-letter {
    margin-left: 20px;
}
#main #articles .post .content h2 {
    color: #000000;
    font-size: 22px;
    font-weight: bold;
    margin: 10px 0 0 20px;
}
#main #articles .post .content ol {
    margin: 0 0 0 20px;
}
#main #articles .post .content ul li {
    color: #555555;
    list-style: square;
    margin-left: 36px;
    padding: 0;
}
#main #articles .post .content .code {
    border: 1px solid black;
    background: #000000;
    color: #FFFFFF;
    font-family: Monospace, sans-serif;
    font-size: 12px;
    margin: 10px 0 10px 20px;
    padding: 5px 8px;
}
#main #articles .post .content figure {
    display: block;
    text-align: center;
    margin: 10px 0;
}
#main #articles .post .content figure figcaption {
    font-size: 10px;
    font-style: italic;
}
#main #articles .post .content .more-link {
    background: url('/static/images/icons.gif') no-repeat left -21px;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin-top: 12px;
    padding-left: 20px;
    text-decoration: none;
    width: 120px;
}

/* * Content section
 * Comments
 */
#main #articles .post #comments form td {
    background: #FFFFFF;
}
#main #articles .post #comments label {
    float: right;
}
#main #articles .post #comments label[for=id_honeypot] {
    font-size: 10px;
    font-weight: normal;
    text-align: right;
}
#main #articles .post #comments article {
    margin-left: 64px;
    padding: 15px 0;
}
#main #articles .post #comments article ul li:first-child {
    color: #333333;
}
#main #articles .post #comments article ul li {
    background: none;
    padding: 0;
}
#main #articles .post #comments article ul li a {
    color: #0066CC;
    font-weight: bold;
}
#main #articles .post #comments article ul .published-date a {
    color: #999999;
    font-weight: normal;
    text-decoration: none;
}
#main #articles .post #comments article ul .published-date a:hover {
    color: #0066CC;
}
.comments-anchor a:hover, .comments-anchor a:hover {
    color: #000000;
}

/* * Content section
 * Menu
 * */
#main #menu {
    border-left: 1px solid #EEEEEE;
    float: right;
    padding-left: 15px;
    width: 200px;
}
#main #menu nav h1 {
    font-size: 12px;
    font-weight: bold;
}
#main #menu nav ul {
    margin: 10px 0;
    padding: 0;
}
#main #menu nav ul li {
    color: #888888;
    list-style-type: none;
    margin-left: 20px;
}
#main #menu nav ul li a {
    background: url('/static/images/icons.gif') no-repeat 0px -282px;
    color: #444444;
    padding-left: 12px;
    text-decoration: none;
}
#main #menu nav ul li a:first-letter {
    text-transform: capitalize;
}
#main #menu nav ul li a:hover {
    background: url('/static/images/icons.gif') no-repeat -10px -262px;
    color: #888888;
}
#main #menu .powered-by-django {
    display: block;
    border: 0px;
    text-align: center;
    margin-top: 100%;
}

/* Footer section */
#footer {
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    padding-top: 0;
}
#footer div:first-child {
    border-top: 4px solid black;
    font-size: 10px;
    padding-top: 8px;
}
#footer #creative-commons-license img {
    float: left;
    padding-right: 5px;
}

/* Badges section */
#badges {
    width: 420px;
    margin: 0 auto;
    margin-top: 10px;
}
#badges ul {
    margin: 0px;
    padding: 0px;
}
#badges ul li {
    float: left;
    list-style-type: none;
    margin-left: 4px;
}
#content#badges ul li:first-child {
    margin-left: 0px;
}
