* {
    font-family: Arial, 'DejaVu Sans', 'Liberation Sans', Freesans, sans-serif;
}

body {
    color: #333333;
    background: #F1F1F1;
}

{
    background: #FFFFFF;
    border: 1px solid #FFFFFF;
    border-radius: 15px;
    display: block;
    margin: 20px auto;
    padding: 20px 20px;
    width: 940px;
}

#main {
    min-height: 480px;
}

#main #articles {
    float: left;
    width: 680px;
    margin: 20px 5px;
    padding: 0px 10px;
}

#main #articles #description {
    color: #888888;
    margin: 0;
    padding: 0;
}

#main #articles .post h1:first-child {
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

#main #articles .post h1:first-child a {
    color: #000000;
    text-decoration: none;
}

.published-date, .published-date *, .comments, .comments *, .keywords, .keywords * {
    color: #888888;
    font-size: 12px;
}

.published-date {
    float: left;
    padding-left: 20px;
    background: url('/static/images/icons.gif') no-repeat left -40px;
}

.published-date span:hover {
    color: #0066CC;
}

.comments {
    float: right;
    padding-left: 20px;
    background: url('/static/images/icons.gif') no-repeat left -100px;
}

.keywords {
    padding-left: 20px;
    background: url('/static/images/icons.gif') no-repeat -20px -240px;
}

.keywords a span:hover {
    color: #0066CC;
}

#main #articles .post .excerpt, #main #articles .post .content {
    clear: both;
    text-align: justify;
    font-size: 15px;
}

#main #articles .post {
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 20px;
}

#main #articles .post h4 {
    display: block;
    padding-left: 20px;
    font-weight: bold;
    font-size: 12px;
    background: url('/static/images/icons.gif') no-repeat left -22px;
}

#main #articles .post h4 a {
    text-decoration: none;
}

#main #articles #comments {
    margin-left: 55px;
}

#main #articles #comments dt * {
    font-weight: normal;
    font-size: 12px;
}

#main #articles #comments dt strong {
    font-weight: bold;
}

#main #articles #comments dd {
    padding: 10px;
    margin-bottom: 20px;
    clear: both;
}

#main #articles .comments-anchor {
    color: #444444;
    text-decoration: none;
}

#main #articles #responses form th {
    width: 220px;
    color: #444444;
    text-align: right;
    padding-right: 10px;
    font-weight: bold;
}

#main #articles #responses form td {
    background: #FFFFFF;
}

#main #articles #responses label[for=id_honeypot] {
    float: left;
    font-size: 10px;
    font-weight: normal;
}

#main #articles #pagination {
    display: block;
}

#main #articles #pagination a {
    color: #0066CC;
    text-decoration: none;
    font-weight: bold;
}

#main #articles #pagination a:hover {
    color: #0099FF;
}

#main #articles #pagination .next {
    float: left;
}

#main #articles #pagination .previous {
    float: right;
}

#main #articles #pagination .current {
    color: #888888;
    display: block;
    text-align: center;
}
