{% extends "base.html" %}
{% block content %}
    <div class='article'>
        <div class="content-title">
            <h1>{{ article.title }}</h1>
            {% include "metadata.html" %}
        </div>
	
        <div>{{ article.content }}</div>
	
        <hr>
    	   
	<!--
        <h2>Comments</h2>
	-->
	{% include "twitter.html" %}
	{% include 'disqus.html' %}
    </div>
{% endblock %}
